<mat-card class="outer-card">
  <mat-card-header>
    <mat-card-title>
      {{ board.title }}
    </mat-card-title>
    <!-- <mat-card-subtitle>
            {{board.id}}
        </mat-card-subtitle>      -->
    <div mat-card-avatar>
      <ng-content></ng-content>
    </div>
  </mat-card-header>
  <mat-divider [inset]="true"></mat-divider>

  <div
    class="tasks"
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="taskDrop($event)"
  >
    <div
      class="inner-card"
      cdkDrag
      *ngFor="let task of board.tasks; let i = index"
      (click)="openDialog(task, i)"
    >
      <mat-card [ngClass]="task.label">
        {{ task.description }}
      </mat-card>
    </div>
  </div>
  <mat-divider [inset]="true"></mat-divider>

  <div class="btnMenu">
    <button mat-stroked-button class="addBtn" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <app-delete-button (delete)="handleDelete()"></app-delete-button>
  </div>
</mat-card>
