.boards {
  padding: 24px;

  .handle {
    position: relative;
    top: 5px;
    left: 0;
    cursor: move;
  }
}


.cdk-drag-placeholder {
  opacity: 0.2;
  border: 5px dashed gray;
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.boards.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.board-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px gray dashed;
  width: 250px;
  padding: 32px;
  height: 300px;
}
