<h1 mat-dialog-title>Task</h1>
<div mat-dialog-content>
  <mat-form-field>
    <textarea
      placeholder="Task description"
      matInput
      [(ngModel)]="data.task.description"
    ></textarea>
  </mat-form-field>
  <br />
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      [(ngModel)]="data.task.label"
    >
      <mat-button-toggle *ngFor="let opt of labelOptions" [value]="opt">
        <mat-icon [ngClass]="opt">{{
          opt === "gray" ? "check_circle" : "lens"
        }}</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<div mat-dialog-actions>

    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
      {{ data.isNew ? "Add Task" : "Update Task" }}
    </button>

    <span class="fill_space"></span>

    <div *ngIf="data.isNew !== true">
      <button
        mat-button
        [mat-dialog-close]="data"
        (click)="handleTaskDelete()"
        color="warn"
        cdkFocusInitial
      >
        Delete
      </button>
    </div>

</div>
